{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "no-param-reassign": [1, { "props": false }],
    "global-require": 0,
    "import/no-dynamic-require": 0
  }
}
