{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "no-param-reassign": [1, { "props": false }],
    "no-unused-expressions": [1, { "allowShortCircuit": false, "allowTernary": false }],
    "default-case": 0,
    "no-else-return": 1,
    "global-require": 0,
    "new-cap": [2, { "newIsCap": true, "capIsNew": false }],
    "no-underscore-dangle": 0
  }
}
