{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "env": {
    "mocha": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "no-param-reassign": [1, { "props": false }],
    "default-case": 0,
    "global-require": 0,
    "new-cap": [2, { "newIsCap": true, "capIsNew": false }],
    "no-underscore-dangle": 0,
    "no-restricted-syntax": [2, "DebuggerStatement", "LabeledStatement", "WithStatement"]
  }
}
